.trinium-settings-header {
  margin-top: 1em !important;
  background-color: rgb(255 255 255 / 50%);
  padding: 0.5em;
  font-weight: bold;
}

/* New container for buttons */
.trinium-chat-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 0 8px 0;
  padding: 4px;
  gap: 4px;
  flex: 0 0 auto;
}

#tcb-combat-tracker-button-groups {
  height: 24px;
  width: 100%;
  gap: 4px;
  margin-bottom: 5px;
}

#tcb-roll-type-buttons {
  width: 100%;
  gap: 4px;
}

#tcb-combat-tracker-buttons {
  display: flex;
  width: 100%;
}

.tcb-button-row {
  display: flex;
  width: 100%;
  gap: 4px;
}

.tcb-button {
  flex: 1 1 auto;
  max-height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: black;
}

#tcb-combat-tracker-toggle {
  flex: 0 0 60%;
}

#tcb-control-icons {
  flex: 1;
  background-color: rgb(0 0 0 / 0.25);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  display: flex;
  gap: 0.25em;
}

#tcb-control-icons .tcb-button {
  background-color: #ffffff00;
  color: white;
  border: 0;
}

#tcb-control-icons .tcb-button:hover {
  text-shadow: 0 0 10px rgb(255 255 255 / 50%);
  box-shadow: none;
}

#tcb-combat-tracker-toggle.tcb-active {
  background-color: #fedbff;
}

.tcb-active {
  box-shadow: none;
  border: 1px solid black;
}

/* GM Screen button styling */
#tcb-gm-screen-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid black;
  margin-bottom: 4px;
}

#tcb-gm-screen-button:hover {
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
}