/*/ Toggle Button /*/

#chat-controls .tcb-gm-screen-button {
  flex: 0 0 32px;
  text-align: center;
  cursor: pointer;
}

#chat-controls .tcb-gm-screen-button:hover {
  color: #FFF;
}

/*/ GM SCREEN /*/

#tcb-gm-screen {
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease-in-out;
  z-index: 101;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#tcb-gm-screen.tcb-left-side-mode,
#tcb-gm-screen.tcb-right-side-mode {
  top: 0;
  height: 100%;
}

#tcb-gm-screen.tcb-left-side-mode {
  left: 0;
  width: 0;
  max-width: min(var(--total-width, 300px), calc(100% - var(--sidebar-width, 300px)));
}

#tcb-gm-screen.tcb-right-side-mode {
  right: var(--sidebar-width, 300px);
  width: 0;
  max-width: min(var(--total-width, 300px), calc(100% - var(--sidebar-width, 300px)));
}

#tcb-gm-screen.tcb-visible.tcb-left-side-mode,
#tcb-gm-screen.tcb-visible.tcb-right-side-mode {
  width: min(var(--total-width, 300px), calc(100% - var(--sidebar-width, 300px)));
}

#tcb-gm-screen.tcb-bottom-mode {
  bottom: -100%;
  right: var(--sidebar-width, 300px);
  margin-left: var(--left-margin, 20px);
  margin-right: var(--right-margin, 20px);
  height: var(--gm-screen-height, 30%);
  width: calc(100% - var(--sidebar-width, 300px) - var(--left-margin, 20px) - var(--right-margin, 20px));
}

#tcb-gm-screen.tcb-bottom-mode[style*="--expand-bottom-mode:false"] {
  width: min(var(--total-width, 300px), calc(100% - var(--sidebar-width, 300px) - var(--left-margin, 20px) - var(--right-margin, 20px)));
}

#tcb-gm-screen.tcb-visible.tcb-bottom-mode {
  bottom: 0;
}

#tcb-gm-screen.tcb-bottom-mode:not([style*="--expand-bottom-mode: false"]) {
  width: calc(100% - var(--sidebar-width, 300px) - var(--left-margin, 20px) - var(--right-margin, 20px));
}

#tcb-gm-screen.tcb-bottom-mode[style*="--expand-bottom-mode: false"] {
  width: min(var(--total-width, 300px), calc(100% - var(--sidebar-width, 300px) - var(--left-margin, 20px) - var(--right-margin, 20px)));
}

/*/ Column Styling /*/

.tcb-column {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #7f7f7f;
  flex: 1 1 0;
  min-width: 0;
}

.tcb-column[data-width="0"] {
  flex: 1 1 0;
}

.tcb-column[data-width]:not([data-width="0"]) {
  flex: 0 0 auto;
}

.tcb-column-row {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-height: 0;
}

/*/ Content and editor preview/*/

.tcb-column-row .tcb-window-content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0;
}

.tcb-column-row .tcb-window-content, .tcb-editor-preview  {
  overflow-y: auto;
  padding: 10px;
  background-color: #dfdbd3;
}

.tcb-window-content h1, .tcb-editor-preview h1 { margin-top: 1em; }
.tcb-window-content h2, .tcb-editor-preview h2 { margin-top: .75em; }
.tcb-window-content h3, .tcb-editor-preview h3 { margin-top: .75em; }
.tcb-window-content h4, .tcb-editor-preview h4 { font-size: medium; font-weight: bold; margin-top: 0.65em; }
.tcb-window-content h5, .tcb-editor-preview h5 { font-size: 1em; margin-top: .5em }
.tcb-window-content h6, .tcb-editor-preview h6 { font-size: smaller; margin: 0.5em 0; }

/*/ Header /*/

.tcb-window-header {
  flex: 0 0 auto;
  background: #2a2a2a;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tcb-gm-screen-controls {
  width: 100%;
  height: 16px;
  display: flex;
  gap: 2px;
}

.tcb-gm-screen-controls button {
  border: none;
  cursor: pointer;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}

.tcb-gm-screen-controls .tcb-settings-button {
  background: none;
  text-align: center;
  cursor: pointer;
  width: 25px;
  color: white;
}

.tcb-gm-screen-controls .tcb-settings-button:hover {
  color: #f39c12;
  box-shadow: none !important;
}

.tcb-tab-toggle {
  width: 80px;
  margin-left: auto;
}

.tcb-edit-button {
  width: 40px;
  text-align: center;
}

/*/ Tab Container /*/

.tcb-column-row {
  position: relative;
}

.tcb-tab-container {
  background-color: rgb(0 0 0 / 25%);
  padding: 6px;
  position: absolute;
  top: 25px;
  width: 100%;
  z-index: 123;
}

.tcb-tab-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  gap: 5px;
}

.tcb-tab-row:last-child {
  margin-bottom: 0;
}

.tcb-tab-button {
  flex: 1;
}

.tcb-edit-button i {
  margin-left: 4px;
}

.tcb-tab-button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: 1px solid black;
  line-height: 1.25em;
}

.tcb-tab-button:hover {
  color: white;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.tcb-tab-button.tcb-active {
  color: black;
  background: #d4d4d4;
  box-shadow: none !important;
}

/* Column settings button */

.tcb-column-settings-button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.tcb-column-settings-button:hover {
  color: #f39c12;
}

/* Editor Styling */

#tcb-gm-screen-editor {
  position: fixed;
  top: 0em;
  left: 0em;
  right: 300px;
  bottom: 0em;
  background: #0d1117;
  display: flex;
  z-index: 102;
}

.tcb-editor-header {
  padding-bottom: .5em;
  color:#e6edf3;
}

.tcb-editor-header-text {
  padding-bottom: .5em;
  color:#e6edf3;
}


.tcb-editor-tabs{
  display: flex;
  flex-direction: row;
  gap: .25em;
}

.tcb-editor-tab-button {
  color: black;
  border: 1px solid #faa9ff;
  background-color: black;
  color: white;
  line-height: 1.25em;
  border-radius: 0 !important;
}

.tcb-editor-tab-button:hover {
box-shadow: inset 0 0 10px #faa9ff;
}

.tcb-editor-tab-button.tcb-active {
  color: black;
  box-shadow: none;
  background-color: #faa9ff;

}

.tcb-editor-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#tcb-editor-textarea {
  color:#f9f9f9;
  flex: 1;
  margin-bottom: 10px;
  font-family: Lato;
  font-size: 1em;
  line-height: 1.4em;
  padding: .75em;
  border-color: rgb(255 255 255 / 15%);
  border-radius: 0 !important;
}

#tcb-editor-textarea:focus {
 border-color:  rgb(255 255 255 / 50%);
 box-shadow: none !important;
}

.tcb-editor-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.tcb-editor-buttons button {
  background-color: rgb(0 0 0 / 15%);
  border-radius: 0 !important;
  color: white;
  border: 1px solid black;
}

#tcb-editor-save {
  border-color: #4CAF50;
  max-width: 250px;
}

#tcb-editor-save-close {
  border-color: #4CAF50;
}

#tcb-editor-cancel {
  border-color: #f44336;
  max-width: 250px;
}

#tcb-editor-restore {
  border-color: #f39c12;
  max-width: 150px;
}

#tcb-editor-save:hover {
  background-color: #4CAF50;

}

#tcb-editor-save-close:hover  {
  background-color: #4CAF50;
}

#tcb-editor-cancel:hover  {
  background-color: #f44336;

}

#tcb-editor-restore:hover  {
  background-color: #f39c12;
  

}

.tcb-editor-buttons  button:hover {
  box-shadow: none;
  color:black;
  font-weight: bold;
}

.tcb-editor-confirmation-dialog {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(7 7 7 / 95%);
  z-index: 1050;
  display: none;
  padding: .5em 0 1em 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  animation: slideDown 0.2s ease-in-out forwards;
  width: 100%;
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.tcb-editor-confirmation-dialog .button-container {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-content: center;
  gap: .5em;
  margin-top: 10px;
}

.tcb-editor-confirmation-dialog button {
  max-width: 140px;
  background-color: rgb(0 0 0 / 15%);
  border-radius: 0 !important;
  color: white;
  border: 1px solid black;
}

.tcb-editor-confirmation-dialog button.confirm-yes {
  border-color: #4CAF50;
}

.tcb-editor-confirmation-dialog button.confirm-no {
  border-color: #f44336;
}

.tcb-editor-confirmation-dialog button.confirm-yes:hover {
  background-color: #4CAF50;
  color: black;
  box-shadow: none;
  font-weight: bold;
}

.tcb-editor-confirmation-dialog button.confirm-no:hover {
  background-color: #f44336;
  color: black;
  box-shadow: none;
  font-weight: bold;
}


/* Settings Modal */
#tcb-gm-screen-settings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
  z-index: 103;
  max-width: 500px;
}

#tcb-gm-screen-settings .tcb-window-header {
  background: #2a2a2a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 32px;
}

#tcb-gm-screen-settings .tcb-window-header h2 {
  margin: 0;
  border-bottom: 0;
  font-size: 14px;
  line-height: 24px;
}

#tcb-gm-screen-settings .tcb-settings-scrollable {
  flex: 1;
  overflow-y: auto;
  max-height: 450px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  
}

#tcb-gm-screen-settings .tcb-settings-buttons {
  padding: .5em;
  display: flex;
  justify-content: flex-end;

}

.tcb-window-header .tcb-close-settings {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  line-height: 24px;
  width: 40px;
  margin-right: -10px;
}

.tcb-window-header .tcb-close-settings:hover {
  color: #f39c12;
  box-shadow: none !important;
}

#tcb-gm-screen-settings .tcb-window-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  background: #eadfdf;
}

.tcb-editor-preview-line {
  height: 3px;
  background-color: rgb(0 0 0 / 15%); 
}

.tcb-editor-preview-line::after {
  content: "column height cutoff";
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 2px;
  font-size: 12px;
  color: rgb(0 0 0 / 40%);    
}

#tcb-gm-screen-settings .tcb-settings-scroll-area {
  flex: 1;
  overflow-y: auto;
  padding: 1em;
  max-height: 600px;
}

#tcb-gm-screen-settings fieldset {
margin-top: 1em;
}

#tcb-gm-screen-settings .form-group {
  padding: .6em 0;
  border-bottom: 1px solid rgb(190 190 190 / 75%);
}

#tcb-gm-screen-settings .form-group:last-child {
  padding: 0;
  border-bottom: none;
}

#tcb-gm-screen-settings .form-group label {
  display: block;
}

#tcb-gm-screen-settings .form-group input,
#tcb-gm-screen-settings .form-group select {
  max-width: 200px;
  padding: 0 .5em;
  border-radius: 0 !important;
  border: 1px solid #000;
  margin-bottom: .25em;
}

/*/ Journal Specific /*/

.tcb-window-content .journal-entry-content h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #333;
}

.tcb-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  z-index: 9999;
  display: none;
}

.tcb-notification-info {
  background-color: #2196F3;
}

.tcb-notification-success {
  background-color: #4CAF50;
}

.tcb-notification-warning {
  background-color: #ff9800;
}

.tcb-notification-error {
  background-color: #f44336;
}