#tcb-mini-combat-tracker {
  width: 100%;
  background: rgb(0 0 0 / 60%);
  border: 3px solid rgb(10 10 10 / 60%);
  border-radius: 5px;
  margin-bottom: 5px;
  display: none;
}

.tcb-combatants-mini {
  display: flex;
  overflow-x: auto;
  align-items: flex-start;
}

.tcb-combatant-mini {
  flex: 0 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 4px;
  border: 2px solid rgb(0 0 0 / 90%);
  background: #00000000;
  position: relative;
  box-sizing: border-box;
}

.tcb-combatant-mini:hover {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
}

.tcb-combatant-mini.tcb-active {
  box-shadow: inset 0 0 10px 2px #ff5a00a0;
}

.tcb-combatant-mini-img {
  height: 40px;
  width: 40px;
  margin-bottom: 8px;
  object-fit: cover;
  border-radius: 50%;
  background-color: rgb(0 0 0 / 25%);
  border-color: rgb(0 0 0 / 35%);
}

.tcb-combatant-mini-name {
  max-width: 50px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  text-shadow: 1px 1px 1px #000, 1px 1px 2px #000, 0px 0px 2px #000;
}

.tcb-combatant-mini-initiative {
  font-size: 11px;
  color: #fff;
  text-shadow: 1px 1px 1px #000, 1px 1px 2px #000, 0px 0px 2px #000;
}

.tcb-combatant-mini-health {
  font-size: 11px;
  text-align: center;
}

.tcb-combatant-mini-health-bar {
  height: 4px;
  transition: width 0.5s ease;
  position: absolute;
  bottom: 6px;
  left: 0;
}

.tcb-combatant-mini-health-text {
  position: absolute;
  width: 100%;
  height: 12px;
  line-height: 1.2em;
  bottom: 4px;
  left: 0;
  z-index: 2;
  font-size: 14px;
  text-shadow: 1px 1px 1px #000, 1px 1px 2px #000, 0px 0px 2px #000;
  color: #fff;
}

.tcb-combat-controls-mini {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  height: 1.5em;
}

.tcb-combat-controls-mini button {
  background: none;
  border: none;
  color: #fff;
  margin: 0;
  cursor: pointer;
  font-size: 11px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tcb-combat-controls-mini button:hover {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}

#tcb-mini-combat-tracker .tcb-combatants-mini {
  scrollbar-width: thin;
  scrollbar-color: rgb(255 255 255 / 25%) transparent;
}

#tcb-mini-combat-tracker .tcb-combatants-mini::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#tcb-mini-combat-tracker .tcb-combatants-mini::-webkit-scrollbar-thumb {
  background-color: #ffffff24;
  border-radius: 2px;
}

#tcb-mini-combat-tracker .tcb-combatants-mini::-webkit-scrollbar-button {
  display: none;
}

.hidden {
  display: none;
}

.hiddenGM {

  background-color: rgb(252 233 255 / 20%) !important;
}

.tcb-combatant-mini.enemy {
  background-color: rgb(255 94 94 / 22%);
}

.tcb-combatant-mini.ally {
  background-color: rgb(114 255 114 / 20%);
}

.tcb-combatant-mini.neutral {
  background-color: rgb(255 250 97 / 20%);
}

.tcb-combatant-mini.secret {
  background-color: rgb(238 97 255 / 25%);
}

.tcb-combatant-mini.tcb-defeated {
  background-color: rgb(255 0 0 / 0.2);
  text-decoration: line-through;
  color: rgba(255, 0, 0, 0.6);
}

.tcb-combatant-mini.tcb-defeated .tcb-combatant-mini-img {
  opacity: 0.75;
}

@keyframes endTurnGlow {
  0% { color: #fff; }
  50% { color: #fd782f; }
  100% { color: #fff; }
}

.tcb-combat-controls-mini .end-turn-button {
  font-size: 1em;
  animation: endTurnGlow 2s infinite;
}




/* Midi button styles */
.tcb-combatants-nocombatants,.tcb-combatants-nocombat {
  color: white;
  text-align: center;
  padding: 5px;
  margin: 2px;
}

/* Midi button styles */
.tcb-combatants-nocombat {
padding: 0;
  margin: 0;
}

.tcb-combatants-nocombat .tcb-button{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  animation: endTurnGlow 2.5s infinite;
}

#tcb-start-combat {
  background-color: transparent;
  color: white;
  cursor: pointer;
  animation: endTurnGlow 5s infinite;
  margin: 0;
  padding: 0;
  border: none;
}


#tcb-start-combat:hover{
  color: white;
  animation: none;
  border: 1px solid rgb(255 255 255 / 50%);
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.25);
}


.tcb-dialog-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid black;
  padding: 2px 5px;
  margin: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tcb-dialog-button:hover {
  color: white;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}


.tcb-right-click-dialog {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 0px;
}


.tcb-dialog-title {
  padding: 2px;
  margin-bottom: 2px;
  text-align: center;
}

.tcb-dialog-section-title {
  font-size: .75em;
  text-align: center;
  display:none;
}


.tcb-dialog-flex, .tcb-dialog-disposition {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.tcb-dialog-disposition .tcb-dialog-button {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 2px;
}