/*/ GM SCREEN /*/

#tcb-gm-screen {
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease-in-out;
  z-index: 99;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#tcb-gm-screen.tcb-left-side-mode,
#tcb-gm-screen.tcb-right-side-mode {
  top: 0;
  height: 100%;
}

#tcb-gm-screen.tcb-left-side-mode {
  left: 0;
  width: 0;
  max-width: min(calc(var(--subscreen-width, 300px) * var(--number-of-subscreens, 1)), calc(100% - var(--sidebar-width, 300px)));
}

#tcb-gm-screen.tcb-right-side-mode {
  right: var(--sidebar-width, 300px);
  width: 0;
  max-width: min(calc(var(--subscreen-width, 300px) * var(--number-of-subscreens, 1)), calc(100% - var(--sidebar-width, 300px)));
}

#tcb-gm-screen.tcb-visible.tcb-left-side-mode,
#tcb-gm-screen.tcb-visible.tcb-right-side-mode {
  width: min(calc(var(--subscreen-width, 300px) * var(--number-of-subscreens, 1)), calc(100% - var(--sidebar-width, 300px)));
}

#tcb-gm-screen.tcb-bottom-mode {
  bottom: -100%;
  right: var(--sidebar-width, 300px);
  margin-left: var(--left-margin, 20px);
  margin-right: var(--right-margin, 20px);
  height: var(--gm-screen-height, 30%);
}

#tcb-gm-screen.tcb-visible.tcb-bottom-mode {
  bottom: 0;
}

/*/ Subscreen Styling /*/

.tcb-subscreen {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #7f7f7f;
}

.tcb-subscreen:last-child {
  border-right: none;
}



/*/ Header /*/

.tcb-window-header {
  background: #2a2a2a;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tcb-gm-screen-controls {
  width: 100%;
  height: 16px;
  display: flex;
  gap: 2px;
}

.tcb-gm-screen-controls button {
  border: none;
  cursor: pointer;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}

.tcb-tab-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid black;
}

.tcb-tab-button:hover {
  color: white;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
}

.tcb-tab-button.tcb-active {
  color: black;
  background: #d4d4d4;
  box-shadow: none !important;
}

/*/ Toggle Button /*/

#chat-controls .tcb-gm-screen-button {
  flex: 0 0 32px;
  text-align: center;
  cursor: pointer;
}

#chat-controls .tcb-gm-screen-button:hover {
  color: #FFF;
}

/*/ Config Styling /*/

#gm-screen-content-config .window-content {
  padding: 0;
}

#gm-screen-content-config form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#gm-screen-content-config .tabs {
  flex: 0 0 auto;
  margin-bottom: 10px;
}

#gm-screen-content-config .tabs .item {
  padding: 5px 10px;
  width: 100%;
  border-bottom: none;
}

#gm-screen-content-config .tabs .item.active {
  border: 1px solid black;
}

#gm-screen-content-config .content {
  flex: 1;
  overflow-y: auto;
}

#gm-screen-content-config .sheet-footer {
  flex: 0 0 auto;
  padding: 8px;
  border-top: 1px solid #8c8c8c
}

#gm-screen-content-config .form-group {
  margin: 10px 4px;
  background-color: rgb(225 225 225 / 50%);
}

#gm-screen-content-config .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#gm-screen-content-config .form-fields input,
#gm-screen-content-config .form-fields select,
#gm-screen-content-config .form-fields textarea {
  width: 100%;
}

/*/ Content /*/

.tcb-window-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #dfdbd3 ;
}

.tcb-window-content .h5{
  font-size: 20px;
}

.tcb-window-content h1 {
  margin-top: 1em;
}

.tcb-window-content h2 {
  margin-top: .75em;
}

.tcb-window-content h3 {
  margin-top: .75em;
}

.tcb-window-content h4 {
  font-size: medium;
  font-weight: bold;
  margin-top: 0.65em;
}

.tcb-window-content h5 {
  font-size: 1em;
  margin-top: .5em
}

.tcb-window-content h6 {
  font-size: smaller;
  margin: 0.5em 0;
}